body{
	max-width: 960px;
	background: #330000;
	font-family: 'Verdana', sans-serif;
}

h1{
	font-family: 'Italianno', cursive;
	color: #33cccc;
	font-size: 70px;
	margin: 0 auto;
	text-decoration: none;
}

h2{
	color: #ffffcc;
	margin: 0 auto;
	margin-left: 112px;
	padding-top: 0px;
	text-decoration: none;
	font-size: 20px;
	
}

h3{
	font-family: 'Italianno', cursive;
	font-size: 40px;
	color: #ffffcc;
	text-align: center;
	line-height: 40px;
}

h4{
	font-family: 'Italianno', cursive;
	font-size: 30px;
	color: #330000;
	text-align: center;
	margin: 0 auto;
	background: #33cccc;

}

nav ul{
	background: #33cccc;
	list-style-type: none;
	overflow: hidden;
	color: white;
	padding: 10px;
}

nav li{
	float: left;
	padding-left: 60px;
	font-size: 18px;
}

nav a {
	text-decoration: none;
	display: block;
	line-height: 15px;
	text-align: center;
	color: white;
}

nav a:visited{
	text-decoration: none;
}

nav a:hover{
	background: white;
	color: #33cccc;
	text-decoration: none;
}
/*------------------------------------Basket----------------------------------*/
#baskets{
	background: #ffffcc;
	height: 330px;
	overflow: hidden;
	margin-bottom: 30px;
}

#baskets img{
	float: left;
	margin: 5px;
}

#baskets a{
	text-align: right; 
	margin: 0 auto;
}
#baskets a:visited{
	color: #33cccc;
	text-decoration: underline;
}

#baskets a:hover{
	text-decoration: none;
}
#baskets p{
	font-size: 12px;
}
/*------------------------------------Certificate----------------------------------*/

#certificate{
	background: #ffffcc;
	height: 330px;
	overflow: hidden;
	margin-bottom: 30px;
}

#certificate img{
	float: left;
	margin: 5px;
}

#certificate a{
	text-align: right; 
	margin: 0 auto;
}

#certificate a:visited{
	color: #33cccc;
	text-decoration: underline;
}

#certificate a:hover{
	text-decoration: none;
}
#certificate p{
	font-size: 12px;
}

/*------------------------------------Desserts----------------------------------*/

#desserts{
	background: #ffffcc;
	height: 330px;
	overflow: hidden;
	margin-bottom: 30px;
}

#desserts img{
	float: left;
	margin: 5px;
}

#desserts a{
	text-align: right; 
	margin: 0 auto;
}

#desserts a:visited{
	color: #33cccc;
	text-decoration: underline;
}

#desserts a:hover{
	text-decoration: none;
}
#desserts p{
	font-size: 12px;
}

/*------------------------------------Footer----------------------------------*/
footer{
	clear: both;
	background: #33cccc;
	line-height: 15px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: right;
	padding: 0px 10px 0px 0px;
	color: white;
	overflow: hidden;
}
